language: python
python:
- 3.6
- 3.5
install: pip install -U tox-travis
script: tox
deploy:
  provider: pypi
  distributions: sdist bdist_wheel
  user: hmaarrfk
  password:
    secure: mV8VHCLXoNHVP6I223dyqHP3xGNdXvFxWDOevO+X5b6+vwlMcuMUxQTwlYB+LB+N2CbCllX4MqoGCXQVsakSoaN8TPS3k0k1fyz5LurSuJFQ4Kdx+BdHQIRqQZ9BdOwZDA0w9+eRTjXFxRme50MSlku7zVcS2pSXfUgLBPUYivYIlSYVQJBObXKkb2XUAV+L8n4rPk7Z01QfsDALCyPH8rMs2UPgK/cXd3WFrII1FJcTakMksL5WrWmeEhD+Jfia5sgPnQkuMypS5NLpTnTrG8h9HeVZtEP+0o+SbprEmU89xLIqofSZp+D/zCZ7qHwn1R6v3zM2SHi8v+d+xMAZuACdRevCaIL0AOnA2kdmfoeHSVk8wC5qpRBwEf+VguUkjaldcGQVp3p1g/IcF1EcrbcQzOUDWYjH7cmBlzB4FzyZCJUN/Ffv+ocFpilFgDQDbpw1NdIDr1bFTeT2xHkhaTYy8rbj3/xBx+Ts0iNhCZlrp5KQFVmzDL/dsTkP9Q8C6/tK60bqyhAmPrl1dtnKT7PvBWC6C0hQs2QwDQMbAIeGH+5PjhTsZHZc8AzYJaahJTtI88tDmKXd2BW1VftRTUkS+ZwzfO1VrpXAGLBY6/hw2DywiPsU0PTGZanBsR99aXlKhwnKbh0kaRGz5u5+Qemc4whg2hjuuJK9c8DKNIE=
  on:
    tags: true
    repo: hmaarrfk/redpil
    python: 3.6
